@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

h1 {
    font-size: 52px;
    font-weight: 900;
    line-height: 90%;
}

p {
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 100%;
}

* {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 26px;
}

h2 {
    font-size: 32px;
    font-weight: 600;
}

li {
    list-style-type: disc;
    list-style-position: inside;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 26px;
    line-height: 100%;
}