@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

h1 {
    font-size: 52px;
    font-weight: 900;
    line-height: 90%;
}

p {
    margin-top: 20px;
    margin-bottom: 10px;
    line-height: 100%;
}

body {
    padding: 4% 12%;
}

* {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 26px;
  box-sizing: border-box;
  max-width: 100%;
}

  .grid-container {
    display: grid;
    /* auto = prendi solo lo spazio che ti serve */
    /* 1fr = prendi tutto lo spazio rimasto */
    grid-template-rows: auto 1fr;
    
    /* Blocca la griglia all'altezza della finestra */
    height: 100vh;
    width: 100vw;
    
    /* Impedisce ai figli di creare scrollbar fuori dal container */
    overflow: hidden;
  }

  main {
    /* Fondamentale: se il contenuto interno è troppo, 
       scrolla SOLO questa parte, non tutta la pagina */
    overflow-y: auto;
    height: 100%;
    width: 100%
  }

.col {
    background-color: #CDC6AE;
}


h2 {
    font-size: 32px;
    font-weight: 600;
}

li {
    list-style-type: disc;
    list-style-position: inside;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 26px;
    line-height: 100%;
}

.box {
    background-color: #F8C7CC;
    padding: 16px;
    border-radius: 10px;
    width: min-content;
    border-color: black;
    border-width: 2px;
    display: flex;
    justify-content: space-between;
    box-shadow: 4px 4px 29px 1px #000000;
}

.blu-1 {
    background-color: #54b7d6;
}

.blu-2 {
    text-color: #0b485c;
    border-color: #0b485c;
}

.ver-1 {
    background-color: #86b395;
}

.ver-2 {
    text-color: #496562;
    border-color: #496562;
}

html, body {
    overflow-x: hidden; /* Blocca lo scroll orizzontale */
    overflow-y: hidden; /* Blocca lo scroll orizzontale */
    width: 100%;
}